<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.j1902.shiro_zhongchou2.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="com.qf.j1902.shiro_zhongchou2.pojo.Account">
        <!--@mbg.generated-->
        <id column="UserId" jdbcType="INTEGER" property="userid"/>
        <result column="Account" jdbcType="VARCHAR" property="account"/>
        <result column="PassWord" jdbcType="VARCHAR" property="password"/>
        <result column="UserName" jdbcType="VARCHAR" property="username"/>
        <result column="Email" jdbcType="VARCHAR" property="email"/>
        <result column="UserIdentity" jdbcType="CHAR" property="useridentity"/>
        <result column="RealNameID" jdbcType="VARCHAR" property="realnameid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        UserId, Account, `PassWord`, UserName, Email, UserIdentity, RealNameID
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from accounttab
        where UserId = #{userid,jdbcType=INTEGER}
    </select>
    <insert id="insert" keyColumn="UserId" keyProperty="userid"
            parameterType="com.qf.j1902.shiro_zhongchou2.pojo.Account" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into accounttab (Account, `PassWord`, UserName,
        Email, UserIdentity, RealNameID
        )
        values (#{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{useridentity,jdbcType=CHAR}, #{realnameid,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qf.j1902.shiro_zhongchou2.pojo.Account">
        <!--@mbg.generated-->
        update accounttab
        <set>
            <if test="password != null and password != ''">
                `PassWord` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                UserName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                Email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="useridentity != null and useridentity != ''">
                UserIdentity = #{useridentity,jdbcType=CHAR},
            </if>
            <if test="realnameid != null and realnameid != ''">
                RealNameID = #{realnameid,jdbcType=VARCHAR},
            </if>
        </set>
        where UserId = #{userid,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-06-11-->

    <!--auto generated by MybatisCodeHelper on 2019-06-13-->
    <update id="updateByAccount">
        update accounttab
        <set>
            <if test="updated.userid != null">
                UserId = #{updated.userid,jdbcType=INTEGER},
            </if>
            <if test="updated.account != null and updated.account != ''">
                Account = #{updated.account,jdbcType=VARCHAR},
            </if>
            <if test="updated.password != null and updated.password != ''">
                PassWord = #{updated.password,jdbcType=VARCHAR},
            </if>
            <if test="updated.username != null and updated.username != ''">
                UserName = #{updated.username,jdbcType=VARCHAR},
            </if>
            <if test="updated.email != null and updated.email != ''">
                Email = #{updated.email,jdbcType=VARCHAR},
            </if>
            <if test="updated.useridentity != null and updated.useridentity != ''">
                UserIdentity = #{updated.useridentity,jdbcType=CHAR},
            </if>
            <if test="updated.realnameid != null and updated.realnameid != ''">
                RealNameID = #{updated.realnameid,jdbcType=VARCHAR},
            </if>
        </set>
        where Account=#{account,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-06-14-->
    <select id="findAllManagement" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from accounttab
        where UserIdentity='管理'
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-06-14-->
    <select id="findOneByAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from accounttab
        where Account=#{account,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <insert id="insertSelective">
        INSERT INTO accounttab
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account.userid!=null">UserId,</if>
            <if test="account.account!=null">Account,</if>
            <if test="account.password!=null">PassWord,</if>
            <if test="account.username!=null">UserName,</if>
            <if test="account.email!=null">Email,</if>
            <if test="account.useridentity!=null">UserIdentity,</if>
            <if test="account.realnameid!=null">RealNameID</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account.userid!=null">#{account.userid,jdbcType=INTEGER},</if>
            <if test="account.account!=null">#{account.account,jdbcType=VARCHAR},</if>
            <if test="account.password!=null">#{account.password,jdbcType=VARCHAR},</if>
            <if test="account.username!=null">#{account.username,jdbcType=VARCHAR},</if>
            <if test="account.email!=null">#{account.email,jdbcType=VARCHAR},</if>
            <if test="account.useridentity!=null">#{account.useridentity,jdbcType=CHAR},</if>
            <if test="account.realnameid!=null">#{account.realnameid,jdbcType=VARCHAR}</if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <select id="findDistinctAccount" resultType="java.lang.String">
    select distinct(Account)
    from accounttab
  </select>

    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <select id="findDistinctEmail" resultType="java.lang.String">
    select distinct(Email)
    from accounttab
  </select>

    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <insert id="insertList">
        INSERT INTO accounttab(
        UserId,
        Account,
        PassWord,
        UserName,
        Email,
        UserIdentity,
        RealNameID
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.userid,jdbcType=INTEGER},
            #{element.account,jdbcType=VARCHAR},
            #{element.password,jdbcType=VARCHAR},
            #{element.username,jdbcType=VARCHAR},
            #{element.email,jdbcType=VARCHAR},
            #{element.useridentity,jdbcType=CHAR},
            #{element.realnameid,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <delete id="deleteByUseridList" parameterType="java.util.List">
        delete from accounttab
        where UserId in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <delete id="deleteByUserid">
    delete from  accounttab
    where UserId=#{userid,jdbcType=INTEGER}
  </delete>

    <!--auto generated by MybatisCodeHelper on 2019-06-18-->
    <update id="updateByUserid">
        update accounttab
        <set>
            <if test="updated.account != null and updated.account != ''">
                Account = #{updated.account,jdbcType=VARCHAR},
            </if>
            <if test="updated.password != null and updated.password != ''">
                PassWord = #{updated.password,jdbcType=VARCHAR},
            </if>
            <if test="updated.username != null and updated.username != ''">
                UserName = #{updated.username,jdbcType=VARCHAR},
            </if>
            <if test="updated.email != null and updated.email != ''">
                Email = #{updated.email,jdbcType=VARCHAR},
            </if>
            <if test="updated.useridentity != null and updated.useridentity != ''">
                UserIdentity = #{updated.useridentity,jdbcType=CHAR},
            </if>
            <if test="updated.realnameid != null and updated.realnameid != ''">
                RealNameID = #{updated.realnameid,jdbcType=VARCHAR},
            </if>
        </set>
        where UserId=#{userid,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-06-19-->
    <select id="findByAllLink" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from accounttab
        where UserIdentity='管理'
        and CONCAT(Email,UserName,Account,UserId) LIKE CONCAT(CONCAT('%', #{data} ),'%')
    </select>


</mapper>