<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.j1902.shiro_zhongchou2.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.qf.j1902.shiro_zhongchou2.pojo.SysRole">
    <!--@mbg.generated-->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, role_code, role_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <insert id="insert" keyColumn="role_id" keyProperty="roleId" parameterType="com.qf.j1902.shiro_zhongchou2.pojo.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_sys_role (role_code, role_name)
    values (#{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="role_id" keyProperty="roleId" parameterType="com.qf.j1902.shiro_zhongchou2.pojo.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleCode != null and roleCode != ''">
        role_code,
      </if>
      <if test="roleName != null and roleName != ''">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleCode != null and roleCode != ''">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null and roleName != ''">
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.j1902.shiro_zhongchou2.pojo.SysRole">
    <!--@mbg.generated-->
    update tb_sys_role
    <set>
      <if test="roleCode != null and roleCode != ''">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null and roleName != ''">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-06-13-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role
        where 1=1
        <if test="roleId != null">
            and role_id=#{roleId,jdbcType=INTEGER}
        </if>
        <if test="roleCode != null and roleCode != ''">
            and role_code=#{roleCode,jdbcType=VARCHAR}
        </if>
        <if test="roleName != null and roleName != ''">
            and role_name=#{roleName,jdbcType=VARCHAR}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2019-06-14-->
  <select id="findAllByUserId" resultMap="BaseResultMap">
        SELECT
        tb_sys_role.role_id,
        tb_sys_role.role_code,
        tb_sys_role.role_name
        FROM
        accounttab ,
        tb_sys_role ,
        tb_acc_role
        WHERE
        accounttab.UserId = tb_acc_role.UserId AND
        tb_acc_role.role_id = tb_sys_role.role_id AND
        accounttab.UserId = #{userId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-06-14-->
  <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role
    </select>
</mapper>